/**
 * custom theme 2019-06-21 06:31:03 */

#newsletter_pop_up{
width: 1030px;height: 620px;background-color: #FFFFFF;}
#newsletter_pop_up .col-img{
	height: 100%;
	background-image: url(http://labbluesky.com/magento/mazia_update_v2/pub/media/rokanthemes/newsletter/background/stores/14/background1.png);}
